{{> head }}

<body>
    {{> navbar }}

    <div class='row'>
        <div class='col-8'>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus pariatur, error illum itaque nobis fuga corporis deleniti tempora suscipit nostrum quod quidem corrupti quibusdam reiciendis harum unde accusamus. Non, nobis.
        </div>
        <div class='col-4'>
            <img class='img-thumbnail' src='/assets/img/docker_nodeJS.jpeg'
        </div>
    </div>>

    {{> footer }}

</body>

</html>